<!DOCTYPE html>
<html>
<head>
    <title>Basic Crud operation in Codeigniter 3</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container">
	
	<table class="table table-bordered">


  <thead>
      <tr>
          <th>Title</th>
          <th>Description</th>
          <th width="220px">Action</th>
      </tr>
  </thead>
  <body>
	<tr>
		<td>Hello</td>
		<td>Hello</td>
		
	</tr>
  </body>
  </table>
<h1>Your lucky number is {{ number }}</h1>
</div>

</body>
</html>

