<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="money" tests="1" assertions="1" errors="0" failures="0" skipped="0" time="0.001087">
    <testsuite name="LoginTests" file="/var/lib/jenkins/workspace/sindhbad/unittest/CalculatorTest.php" tests="1" assertions="1" errors="0" failures="0" skipped="0" time="0.001087">
      <testcase name="testAdd" class="LoginTests" classname="LoginTests" file="/var/lib/jenkins/workspace/sindhbad/unittest/CalculatorTest.php" line="25" assertions="1" time="0.001087"/>
    </testsuite>
  </testsuite>
</testsuites>
