<footer class="page-footer">
            <div class="footer footer-wrapper">
               <a id="yt-totop-fix" href="javascript:void(0)" title="Go to Top"></a>   
               <div class="footer-container footer-style-1">
                  <div class="footer-wrapper">
                     <div class="footer-head">
                        <div class="container">
                           <div class="row">
                              <div class="col-lg-4 col-md-4">
                                 <div class="socials-wrap">
                                    <div class="title-follow">Follow Us</div>
                                    <ul>
                                       <li class="li-social facebook-social"><a title="Facebook" href="http://www.facebook.com/#" target="_blank"><span class="fa fa-facebook icon-social"></span><span class="name-social">Facebook</span></a></li>
                                       <li class="li-social twitter-social"><a title="Twitter" href="https://twitter.com/#" target="_blank"><span class="fa fa-twitter icon-social"></span> <span class="name-social">Twitter</span></a></li>
                                       <li class="li-social google-social"><a title="Google+" href="https://plus.google.com/u/0/+Smartaddons" target="_blank"><span class="fa fa-google-plus icon-social"></span> <span class="name-social">Google+</span></a></li>
                                       <li class="li-social linkedin-social"><a title="Linkedin" href="#" target="_blank"><span class="fa fa-linkedin icon-social"></span> <span class="name-social">Linkedin</span></a></li>
                                       <li class="li-social pinterest-social"><a title="Pinterest" href="Linkedin" target="_blank"><span class="fa fa-pinterest icon-social"></span> <span class="name-social">Pinterest</span></a></li>
                                    </ul>
                                 </div>
                              </div>
                              <div class="col-lg-8 col-md-8">
                                 <div class="block-subscribe-footer">
                                    <div class="title-middle-footer">Sign Up For Newsletter</div>
                                    <form class="form subscribe"  method="post" data-mage-init='{"validation": {"errorClass": "mage-error"}}' id="newsletter-footer-validate-detail">
                                       <div class="newsletter-content">
                                          <div class="input-box">
											 
											 <input name="email" type="email" id="newsletter-footer" onfocus="if(this.value=='Your email address') this.value='';" onblur="if(this.value=='') this.value='Your email address';" value="Your email address" data-validate="{required:true, 'validate-email':true}"/></div>
                                          <div class="action-button"><button class="action subscribe primary" title="Subscribe" type="submit"><span>Subscribe</span></button></div>
                                       </div>
                                    </form>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="footer-top">
                        <div class="container">
                           <div class="row">
                              <div class="col-lg-4 col-md-4">
                                 <div class="contact-col">
                                    <div class="footer-block">
                                       <div class="footer-block-title">
                                          <h3>Contact Us</h3>
                                       </div>
                                       <div class="footer-block-content">
                                          <ul class="links-contact">
                                             <li class="add-icon">Address: Building No.8, M3 Floor U.A.E, <br/>Al Qusaily Tower, Al Falah Street, Abu Dhabi, UAE  </li>
                                             <li class="email-icon middle-content">Email: info@sindhbad.com</li>
                                             <li class="phone-icon">Phone  : +97126424668<br /></li>
                                          </ul>
                                      
                                      
                                      
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-lg-8 col-md-8">
                                 <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                       <div class="footer-block">
                                          <div class="footer-block-title">
                                             <h3>About Market</h3>
                                          </div>
                                          <div class="footer-block-content">
                                             <ul class="links-footer">
                                                <li><a title="About Us" href="http://localhost/themes/sm_market2/argentina/about-us.html">About Us</a></li>
                                                <li><a title="Market Reviews" href="#">Market Reviews</a></li>
                                                <li><a title="Terms of Use" href="#">Terms of Use</a></li>
                                                <li><a title="Privacy Policy" href="#">Privacy Policy</a></li>
                                                <li><a title="Site Map" href="#">Site Map</a></li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                       <div class="footer-block">
                                          <div class="footer-block-title">
                                             <h3>Customer Service</h3>
                                          </div>
                                          <div class="footer-block-content">
                                             <ul class="links-footer">
                                                <li><a title="Shipping Policy" href="#">Shipping Policy</a></li>
                                                <li><a title="Compensation First" href="#">Compensation First</a></li>
                                                <li><a title="My Account" href="http://localhost/themes/sm_market2/argentina/customer/account">My Account</a></li>
                                                <li><a title="Return Policy" href="#">Return Policy</a></li>
                                                <li><a title="Contact Us" href="http://localhost/themes/sm_market2/argentina/contact-us.html">Contact Us</a></li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                       <div class="footer-block">
                                          <div class="footer-block-title">
                                             <h3>Payment &amp; Shipping</h3>
                                          </div>
                                          <div class="footer-block-content">
                                             <ul class="links-footer">
                                                <li><a title="Terms of Use" href="#">Terms of Use</a></li>
                                                <li><a title="Payment Methods" href="#">Payment Methods</a></li>
                                                <li><a title="Shipping Guide" href="#">Shipping Guide</a></li>
                                                <li><a title="Locations We Ship To" href="#">Locations We Ship To</a></li>
                                                <li><a title="Estimated Delivery Time" href="#">Estimated Delivery Time</a></li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="categories-footer">
                        <div class="container">
                           <div class="footer-links-w">
                              <div class="label-link">Top Stores : Brand Directory | Store Directory</div>
                              <ul>
                                 <li>
                                    <h2>MOST SEARCHED KEYWORDS MARKET:</h2>
                                    <a href="#">Xiaomi Mi3</a> | <a href="#">Digiflip Pro XT 712 Tablet</a> | <a href="#">Mi 3 Phones</a> | <a href="#">View all</a>
                                 </li>
                                 <li>
                                    <h2>MOBILES:</h2>
                                    <a href="#">Moto E</a> | <a href="#">Samsung Mobile</a> | <a href="#">Micromax Mobile</a> | <a href="#">Nokia Mobile</a> | <a href="#">HTC Mobile</a> | <a href="#">Sony Mobile</a> | <a href="#">Apple Mobile</a> | <a href="#">LG Mobile</a> | <a href="#">Karbonn Mobile</a> | <a href="#">View all</a>
                                 </li>
                                 <li>
                                    <h2>CAMERA:</h2>
                                    <a href="#">Nikon Camera</a> | <a href="#">Canon Camera</a> | <a href="#">Sony Camera</a> | <a href="#">Samsung Camera</a> | <a href="#">Point shoot camera</a> | <a href="#">Camera Lens</a> | <a href="#">Camera Tripod</a> | <a href="#">Camera Bag</a> | <a href="#">View all</a>
                                 </li>
                                 <li>
                                    <h2>LAPTOPS:</h2>
                                    <a href="#">Apple Laptop</a> | <a href="#">Acer Laptop</a> | <a href="#">Samsung Laptop</a> | <a href="#">Lenovo Laptop</a> | <a href="#">Sony Laptop</a> | <a href="#">Dell Laptop</a> | <a href="#">Asus Laptop</a> | <a href="#">Toshiba Laptop</a> | <a href="#">LG Laptop</a> | <a href="#">HP Laptop</a> | <a href="#">Notebook</a> | <a href="#">View all</a>
                                 </li>
                                 <li>
                                    <h2>TVS:</h2>
                                    <a href="#">Sony TV</a> | <a href="#">Samsung TV</a> | <a href="#">LG TV</a> | <a href="#">Panasonic TV</a> | <a href="#">Onida TV</a> | <a href="#">Toshiba TV</a> | <a href="#">Philips TV</a> | <a href="#">Micromax TV</a> | <a href="#">LED TV</a> | <a href="#">LCD TV</a> | <a href="#">Plasma TV</a> | <a href="#">3D TV</a> | <a href="#">Smart TV</a> | <a href="#">View all</a>
                                 </li>
                                 <li>
                                    <h2>TABLETS:</h2>
                                    <a href="#">Micromax Tablets</a> | <a href="#">HCL Tablets</a> | <a href="#">Samsung Tablets</a> | <a href="#">Lenovo Tablets</a> | <a href="#">Karbonn Tablets</a> | <a href="#">Asus Tablets</a> | <a href="#">Apple Tablets</a> | <a href="#">View all</a>
                                 </li>
                                 <li>
                                    <h2>WATCHES:</h2>
                                    <a href="#">FCUK Watches</a> | <a href="#">Titan Watches</a> | <a href="#">Casio Watches</a> | <a href="#">Fastrack Watches</a> | <a href="#">Timex Watches</a> | <a href="#">Fossil Watches</a> | <a href="#">Diesel Watches</a> | <a href="#">Luxury Watches</a> | <a href="#">View all</a>
                                 </li>
                                 <li>
                                    <h2>CLOTHING:</h2>
                                    <a href="#">Shirts</a> | <a href="#">Jeans</a> | <a href="#">T shirts</a> | <a href="#">Kurtis</a> | <a href="#">Sarees</a> | <a href="#">Levis Jeans</a> | <a href="#">Killer Jeans</a> | <a href="#">Pepe Jeans</a> | <a href="#">Arrow Shirts</a> | <a href="#">Ethnic Wear</a> | <a href="#">Formal Shirts</a> | <a href="#">Peter England Shirts</a> | <a href="#">View all</a>
                                 </li>
                                 <li>
                                    <h2>FOOTWEAR:</h2>
                                    <a href="#">Shoes</a> | <a href="#">Casual Shoes</a> | <a href="#">Sports Shoes</a> | <a href="#">Formal Shoes</a> | <a href="#">Adidas Shoes</a> | <a href="#">Gas Shoes</a> | <a href="#">Puma Shoes</a> | <a href="#">Reebok Shoes</a> | <a href="#">Woodland Shoes</a> | <a href="#">Red tape Shoes</a> | <a href="#">Nike Shoes</a> | <a href="#">View all</a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="footer-bottom">
                        <div class="container">
                           <div class="row">
                              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 copyright-footer">
                                 
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 footer-payment">
                                 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
                                 <html>
                                    <body>
                                       <div class="lazyload-container"><img src="http://localhost/img/blank.png" alt="Payment" data-src="http://localhost/img/payment.png" class=" lazyload "></div>
                                    </body>
                                 </html>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </footer>
 
 
 
<script>
         try {
             if (!window.localStorage || !window.sessionStorage) {
                 throw new Error();
             }
         
             localStorage.setItem('storage_test', 1);
             localStorage.removeItem('storage_test');
         } catch(e) {
             (function () {
                 var Storage = function (type) {
                     var data;
         
                     function createCookie(name, value, days) {
                         var date, expires;
         
                         if (days) {
                             date = new Date();
                             date.setTime(date.getTime()+(days * 24 * 60 * 60 * 1000));
                             expires = '; expires=' + date.toGMTString();
                         } else {
                             expires = '';
                         }
                         document.cookie = name + '=' + value+expires+'; path=/';
                     }
         
                     function readCookie(name) {
                         var nameEQ = name + '=',
                             ca = document.cookie.split(';'),
                             i = 0,
                             c;
         
                         for (i=0; i < ca.length; i++) {
                             c = ca[i];
         
                             while (c.charAt(0) === ' ') {
                                 c = c.substring(1,c.length);
                             }
         
                             if (c.indexOf(nameEQ) === 0) {
                                 return c.substring(nameEQ.length, c.length);
                             }
                         }
         
                         return null;
                     }
         
                     function setData(data) {
                         data = encodeURIComponent(JSON.stringify(data));
                         createCookie(type === 'session' ? getSessionName() : 'localStorage', data, 365);
                     }
         
                     function clearData() {
                         createCookie(type === 'session' ? getSessionName() : 'localStorage', '', 365);
                     }
         
                     function getData() {
                         var data = type === 'session' ? readCookie(getSessionName()) : readCookie('localStorage');
         
                         return data ? JSON.parse(decodeURIComponent(data)) : {};
                     }
         
                     function getSessionName() {
                         if (!window.name) {
                             window.name = new Date().getTime();
                         }
         
                         return 'sessionStorage' + window.name;
                     }
         
                     data = getData();
         
                     return {
                         length: 0,
                         clear: function () {
                             data = {};
                             this.length = 0;
                             clearData();
                         },
         
                         getItem: function (key) {
                             return data[key] === undefined ? null : data[key];
                         },
         
                         key: function (i) {
                             var ctr = 0,
                                 k;
         
                             for (k in data) {
                                 if (ctr.toString() === i.toString()) {
                                     return k;
                                 } else {
                                     ctr++
                                 }
                             }
         
                             return null;
                         },
         
                         removeItem: function (key) {
                             delete data[key];
                             this.length--;
                             setData(data);
                         },
         
                         setItem: function (key, value) {
                             data[key] = value.toString();
                             this.length++;
                             setData(data);
                         }
                     };
                 };
         
                 window.localStorage.__proto__ = window.localStorage = new Storage('local');
                 window.sessionStorage.__proto__ = window.sessionStorage = new Storage('session');
             })();
         }
      </script>           <script>
         require.config({
             deps: [
                 'jquery',
                 'mage/translate',
                 'jquery/jquery-storageapi'
             ],
             callback: function ($) {
                 'use strict';
         
                 var dependencies = [],
                     versionObj;
         
                 $.initNamespaceStorage('mage-translation-storage');
                 $.initNamespaceStorage('mage-translation-file-version');
                 versionObj = $.localStorage.get('mage-translation-file-version');
         
                  if (versionObj.version !== '0b24dcba00355e70410609afe221f2e44c2796fc') {
                     dependencies.push(
                         'text!js-translation.json'
                     );
         
                 }
         
                 require.config({
                     deps: dependencies,
                     callback: function (string) {
                         if (typeof string === 'string') {
                             $.mage.translate.add(JSON.parse(string));
                             $.localStorage.set('mage-translation-storage', string);
                             $.localStorage.set(
                                 'mage-translation-file-version',
                                 {
                                     version: '0b24dcba00355e70410609afe221f2e44c2796fc'
                                 }
                             );
                         } else {
                             $.mage.translate.add($.localStorage.get('mage-translation-storage'));
                         }
                     }
                 });
             }
         });
      </script>  <script type="text/x-magento-init">
         {
             "*": {
                 "mage/cookies": {
                     "expires": null,
                     "path": "/themes/sm_market2",
                     "domain": ".magento2.flytheme.net",
                     "secure": false,
                     "lifetime": "3600"
                 }
             }
         }
      </script>   
      
      
 <script src = "http://localhost/js/xzoom.min.js"></script>
      <script src = "http://localhost/js/hammer.min.js"></script>
      <script src = "http://localhost/js/foundation.min.js"></script>
      <script src = "http://localhost/js/zoom1.js"></script>
     <script src = "http://localhost/js/custom.js"></script>
     
     
     
     
     
      <script type="text/javascript">
    $(document).ready(function() {
        //Horizontal Tab
        $('#parentHorizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });

        // Child Tab
        $('#ChildVerticalTab_1').easyResponsiveTabs({
            type: 'vertical',
            width: 'auto',
            fit: true,
            tabidentify: 'ver_1', // The tab groups identifier
            activetab_bg: '#fff', // background color for active tabs in this group
            inactive_bg: '#F5F5F5', // background color for inactive tabs in this group
            active_border_color: '#c1c1c1', // border color for active tabs heads in this group
            active_content_border_color: '#5AB1D0' // border color for active tabs contect in this group so that it matches the tab head border
        });

        //Vertical Tab
        $('#parentVerticalTab').easyResponsiveTabs({
            type: 'vertical', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo2');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
    });
</script>

 <script>
  window.authenticationPopup = {"autocomplete":"off","customerRegisterUrl":"http:\/\/magento2.flytheme.net\/themes\/sm_market2\/argentina\/customer\/account\/create\/","customerForgotPasswordUrl":"http:\/\/magento2.flytheme.net\/themes\/sm_market2\/argentina\/customer\/account\/forgotpassword\/","baseUrl":"http:\/\/magento2.flytheme.net\/themes\/sm_market2\/argentina\/"};
</script>
     
     
                                         
        
</body>






</html>
