 @media only screen and (max-width : 540px) 
            {
                .chat-sidebar
                {
                    display: none !important;
                }
                
                .chat-popup
                {
                    display: none !important;
                }
            }
            
            body
            {
                background-color: #e9eaed;
            }
            
.chat-message-content h5,
            
.chat-message-content p {

	font-size:12px;
}

            .chat-sidebar
            {
                width: 200px;
                position: fixed;
                height: 100%;
                right: 0px;
                top: 0px;
                padding-top: 10px;
                padding-bottom: 10px;
                border: 1px solid rgba(29, 49, 91, .3);
            }
            
            .sidebar-name 
            {
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 4px;
                font-size: 12px;
            }
            
            .sidebar-name span
            {
                padding-left: 5px;
            }
            
            .sidebar-name a
            {
                display: block;
                height: 100%;
                text-decoration: none;
                color: inherit;
            }
            
            .sidebar-name:hover
            {
                background-color:#e1e2e5;
            }
            
            .sidebar-name img
            {
                width: 32px;
                height: 32px;
                vertical-align:middle;
            }

a{
	text-decoration:none !important;
}
            
.input-message textarea {

	width:100%;
	padding: 8px 18px;
	font-size:12px;
	border-top:1px solid #9a9a9a;
	border-left:none;
	border-right:none;
	border-left:none;
	margin-bottom:5px;
}

.input-message textarea:focus {

	  outline: none !important;
   border-top:1px solid #9a9a9a;
    box-shadow: none;
}
            .popup-box
            {
                display: none;
                position: fixed;
                bottom: 0px;
                right: 220px;
                height:345px;
                background-color: #fff;
                width: 300px;
                border-radius: 5px 5px 0 0;
            }
            
            .popup-box .popup-head
            {
                background: #293239;
    			border-radius: 5px 5px 0 0;
   				 color: #fff;
    			cursor: pointer;
   				 padding: 16px 24px;
            }
            
            .popup-box .popup-head .popup-head-left
            {
                float: left;
            }
            
            .popup-box .popup-head .popup-head-right
            {
                float: right;
                opacity: 0.5;
            }
            
            .popup-box .popup-head .popup-head-right a
            {
                text-decoration: none;
                color: inherit;
            }
            
            .popup-box .popup-messages
            {
                height: 270px;
                
            }
